@charset "UTF-8";

html {
  font-size: 10px;
  line-height: 1.75em;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background: #fffdf5;
  color: #454545;
  font-kerning: normal;
  text-align: center;
}

a {
  color: #333333;
  text-decoration: none;
}

a:visited {
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1000;
}

#site_icon {
  position: absolute;
  display: flex;
  top: -8rem;
  width: 10rem;
  height: 16rem;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #fffdf5;
  background: black;
  z-index: 1000;
  border-radius: 0.25em;
  opacity: 0.85;
}

#site_icon span {
  margin-bottom: 1em;
  padding: 0.25em 0;
  border-bottom: 3px solid white;
}

#site_icon a {
  color: white;
  font-size: 1.35rem;
  font-family: 'Noto Sans JP', sans-serif;
}

#wrap {
  width: 100%;
  margin-top: 10rem;
}

.profile h4 {
  font-size: 2rem;
  margin-bottom: -1rem;
  padding-bottom: 2rem;
}

.me h4 {
  font-size: 2rem;
  margin-bottom: -1rem;
  padding-bottom: 2rem;
}

.caption {
  font-size: 1.6rem;
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 2rem;
}

footer {
  border-top: 1px dashed #cccccc;
}

ul {
  list-style: none;
}

nav h3 {
  font-size: 1.5rem;
}

nav li {
  font-size: 0.8rem;
}

nav {
  display: inline-block;  /*inline-blockにします*/
  font-weight: bold;  /*文字を太字に*/
}

#home {
  float: left;
  margin-right: 0.8em;
}

#about {
  float: left;
  margin-right: 0.8em;
}

#portfolio {
  float: left;
  margin-right: 0.8em;
}

#contact {
  float: left;
}

#portfolio_matomari {
  text-align: right;
}

#contact_email {
  text-align: right;
}

footer p{
  clear: left;
}

.top {
  margin-left: auto;
  margin-right: auto;
}

.top img {
  width: 100% !important;
  height: auto !important;
  max-width: 1000px;
}

section {
  align-items: center;
}

.icon {
  margin-top: 1rem;
  border-radius: 50%;
  border: 1px solid rgba(150,150,50,0.1);
}

.profile img {
  width: 5rem;
}

.me {
  margin-bottom: 1rem;
  text-align: center;
}

.me p {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 1em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#item_1 img {
  background-color: #FF0000;
  max-width: 100%;
  height: auto;
}

#item_2 img {
  background-color: #FFFF00;
  max-width: 100%;
  height: auto;
}

#item_3 img {
  background-color: #00FF00;
  max-width: 100%;
  height: auto;
}

#item_4 img {
  background-color: #00FFFF;
  max-width: 100%;
  height: auto;
}

#item_5 img {
  background-color: #0000FF;
  max-width: 100%;
  height: auto;
}

#item_6 img {
  background-color: #FF00FF;
  max-width: 100%;
  height: auto;
}
